*.iml
.kotlin
.gradle
**/build/
xcuserdata
!src/**/build/
local.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
#C:\Users\barto\OneDrive\Desktop\BYUI\2025 Winter\cse310\AppliedProgramming\ToDoClone\composeApp\src\desktopMain\kotlin\todo\desktop\main.kt